In [1]:
import credentials
import av_caller
import transformer
import pandas as pd
import db
from prettified import *

In [2]:
api_key = credentials.av_api_key
# ts = TimeSeries(api_key)

In [3]:
data, tname = prettified_monthly('AAPL')
db.store_data(data,tname)

In [4]:
db.read_table(tname)

,Symbol,Open,High,Low,Price,Volume,Trading Day,Previous Close,Change,Change Percent
0,MSFT,251.0800,252.7900,247.6000,248.5900,28333930,2023-03-10,252.3200,-3.7300,-1.4783%
1,MSFT,251.0800,252.7900,247.6000,248.5900,28333930,2023-03-10,252.3200,-3.7300,-1.4783%